@import url('reset.css');

body
{
    font-family: 'Open Sans', sans-serif;

    background-color: #ddd;
}

.navbar-default
{
    margin-top: 25px;
    margin-bottom: 25px;

    color: #fded00;
    background-color: #1d1d1d !important;
    background-image: none;
}
.navbar-default .navbar-nav > li > a
{
    color: #fded00;
}


.anket-side
{
    padding: 7px;
}

.anket-side form li
{
    font-size: 14px;

    margin-left: 40px;
    padding: 1px;

    list-style-type: none !important;
}

.anket-title
{
    margin-bottom: 5px;
    margin-left: 20px;
}

.anket-side form li input
{
    margin-right: 7px;
}

.anket-side form p
{
    text-align: center;
}

.anket-side form p input
{
    width: 80px;
    margin: 8px;
    padding: 8px;

    color: #1d1d1d;
    border: 0;
    background-color: #fded00;
}

.anket-side form p input:hover
{
    color: #fded00;
    background-color: #1d1d1d;
}

.anket-side form p a
{
    width: 80px;
    margin: 8px;
    padding: 5px;

    text-decoration: none;

    color: #1d1d1d;
    border: 0;
    background-color: #fded00;
}

.anket-side form p a:hover
{
    color: #fded00;
    background-color: #1d1d1d;
}


.anket-side p input
{
    width: 80px;
    margin: 8px;
    padding: 8px;

    color: #1d1d1d;
    border: 0;
    background-color: #fded00;
}

.anket-side p input:hover
{
    color: #fded00;
    background-color: #1d1d1d;
}

.anket-side p a
{
    width: 80px;
    margin: 8px;
    padding: 5px;

    text-decoration: none;

    color: #1d1d1d;
    border: 0;
    background-color: #fded00;
}

.anket-sonuc-basligi
{
    font-size: 24px;
    font-weight: 100;

    margin: 20px;

    text-align: center;
}

.anket-side p a:hover
{
    color: #fded00;
    background-color: #1d1d1d;
}

.oylama-success
{
    margin-top: 18px;
    margin-bottom: 18px;

    text-align: center;

    color: rgba(0, 135, 0, 1);
}

.oylama-wrong
{
    margin-top: 18px;
    margin-bottom: 18px;

    text-align: center;

    color: firebrick;
}

.header-logo
{
    margin-top: -32px;
}

.footer1
{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding: 20px;

    background-color: #1d1d1d;
}

.footer-linkler
{
    float: left;
}

.footer-linkler ul li
{
    line-height: 14px;

    padding: 2px 0;
}

.footer-linkler h4
{
    font-size: 16px;
    font-weight: bold;

    margin: 20px 0 0 0;
}

.footer-linkler a
{
    font-size: 12px;
    line-height: 14px;

    color: #454545;
}

.footer-linkler a:hover
{
    text-decoration: none;

    color: #999;
}

.footer-linkler ul
{
    font-size: 12px;

    margin-top: 10px;
    padding: 0;

    list-style: none;
}


.footer-sonuclar
{
    float: left;
}

.footer-sonuclar ul li
{
    line-height: 14px;

    padding: 2px 0;
}

.footer-sonuclar h4
{
    font-size: 16px;
    font-weight: bold;

    margin: 20px 0 0 0;
}

.serbest-oyuncular-basligi
{
    font-size: 21px;
    font-weight: 500;

    margin: 15px;
}

.col-xs-8,
.ortala
{
    display: table;
    float: none;

    margin-right: auto;
    margin-left: auto;
}

.oyuncu-linkleri-rengi
{
    text-decoration: none;

    color: #1d1d1d;
}

.footer-sonuclar a
{
    font-size: 12px;
    line-height: 14px;

    color: #454545;
}

.footer-sonuclar a:hover
{
    text-decoration: none;

    color: #999;
}

.footer-sonuclar ul
{
    font-size: 12px;

    margin-top: 10px;
    padding: 0;

    list-style: none;
}

.footer-logo
{
    float: left;

    margin-right: 20px;

    opacity: .2;
}

.news-header
{
    font-size: 16px;
    font-weight: 600;

    width: 100%;
    padding: 10px 20px;

    color: #1d1d1b;
    background-color: #ffed00;
}

.row
{
    width: 976px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-9
{
    width: 70%;
    padding-right: 20px;
    padding-left: 0;
}

.col-md-3
{
    width: 30%;
    margin-bottom: -20px;
    padding-right: 0;
    padding-left: 0;
}

.maclar
{
    height: 231px;

    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.takimlar
{
    font-weight: 600;

    padding: 10px;

    text-align: center;
}

.mac-detayi
{
    width: 100%;
    height: 169px;
}

.mac-devami-git
{
    font-size: 12px;
    font-weight: 600;

    height: 22px;
    margin-top: 4px;
    padding-top: 5px;

    text-align: center;
}

.mac-devami-git a
{
    text-decoration: inherit;

    color: #1d1d1b;
}

.mac-devami-git:hover
{
    background-color: #ffed00;
}

.haber-devami-git
{
    font-size: 12px;
    font-weight: 600;

    position: absolute;
    bottom: 0;

    width: 97%;
    height: 22px;
    padding-top: 4px;

    text-align: center;

    border-top: 1px solid #ddd;
}

.haber-devami-git a
{
    text-decoration: inherit;

    color: #1d1d1b;
}

.haber-devami-git:hover
{
    background-color: #ffed00;
}

.news-inner-container
{
    display: block;
    clear: both;
}

.anasayfa-haber-baslik
{
    font-weight: 400;

    width: 100%;
    padding: 10px;
}

.skor
{
    font-size: 39px;
    font-weight: bold;

    float: left;

    width: 123px;
    margin-top: 20px;

    text-align: center;
}

.mac-bilgi
{
    font-size: 13px;
    line-height: 18px;

    display: inline-table;

    width: 100%;

    text-align: center;
}

.sol-logo
{
    float: left;

    padding: 10px;
}

.sag-logo
{
    float: right;

    padding: 10px;
}

.puantablosu
{
    height: 160px;
    margin: 20px 0;

    background-color: white;
}

.anket
{
    height: 149px;
    margin: 20px 0;

    background-color: white;
}

.anket
{
    height: 175px;
    margin: 20px 0;

    background-color: white;
}

.puantablosu table thead tr
{
    font-weight: 600;

    background-color: #fefbd8;
}

.puantablosu2 table thead tr
{
    font-weight: 600;

    background-color: #fefbd8;
}

.fa
{
    margin-right: 10px;
}

.menu-home-icon
{
    font-size: 20px;
    line-height: 20px;

    margin-right: -10px;
}


.puantablosu2
{
    height: 290px;
    margin: 20px 0;

    background-color: white;
}

.yapim-asamadindayeri
{
    height: 316px;
    margin-top: 20px;

    background-color: white;
}

.haber-text
{
    font-size: 14px;
    font-weight: 100;

    padding: 0 10px;
}


.news-home-container
{
    width: 100%;
    height: 496px;
    margin-top: 20px;

    background-color: white;
}

.haberler-sayfasi
{
    display: inline-block;

    width: 100%;
    min-height: 916px;
    padding-bottom: 10px;

    background-color: white;
}

.anket-oy-toplami
{
    font-size: 16px;
    font-weight: 100;

    margin: 38px;
}

.takim-sayfasi
{
    width: 100%;
    height: 580px;

    background-color: white;
}

.oyuncular-sayfasi
{
    width: 100%;
    height: 916px;

    background-color: white;
}

.oyuncu-liste
{
    margin-top: 20px;
    margin-left: 20px;

    text-align: center;
}

.oyuncu-adi-container
{
    font-size: 14px;

    position: absolute;
    bottom: 0;

    width: 96%;
    padding: 5px;

    text-align: center;

    color: #1d1d1d;
    background-color: #fded00;
}

.oyuncu-adi-container a
{
    font-weight: 500;

    text-decoration: none;

    color: #1d1d1d;
}


.oyuncu-liste2
{
    position: relative;

    float: left;

    width: 110px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.oyuncu-liste p
{
    margin-top: 20px;
}

.oyuncuresim
{
    width: 105px;
    height: 120px;
}

.oyuncu-adi
{
    font-size: 14px;
    font-weight: 500;

    width: 100%;
    margin-top: 20px;

    text-align: center;
}

.takim-detayi-sayfasi
{
    font-size: 14px;
    font-weight: 500;

    width: 100%;
    margin-top: 20px;

    text-align: center;
}

.takim-detayi-sayfasi hr
{
    margin-top: 6px;
}

.takim-detayi-sayfasi h1
{
    font-size: 18px;
    font-weight: 700;

    text-align: left;
}

.takim-detayi-sayfasi ul
{
    line-height: 24px;

    text-align: left;
}

.takim-detayi-sayfasi ul li label
{
    font-weight: 600;

    margin-right: 5px;
}

.oyuncu-adi ul
{
    float: left;
}
.oyuncu-adi ul li
{
    margin-bottom: 10px;

    text-transform: uppercase;
}

.oyuncu-adi2
{
    font-size: 14px;
    font-weight: 500;

    width: 100%;

    text-align: center;
}

.oyuncu-adi2 ul
{
    float: left;
}
.oyuncu-adi2 ul li
{
    margin-bottom: 10px;

    text-transform: uppercase;
}


.sakatlanmis-oyuncu
{
    font-size: 13px;
    font-weight: 700;

    width: 35px;
    height: 20px;
    padding-top: 1px;

    text-align: center;
    vertical-align: middle;

    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: red;
}

.hafif-sakat
{
    font-size: 13px;
    font-weight: 700;

    float: left;

    width: 35px;
    height: 20px;
    margin-right: 10px;
    padding-top: 1px;

    text-align: center;
    vertical-align: middle;

    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: darkorange;
}



.yabanci-oyuncu
{
    font-size: 13px;
    font-weight: 700;

    width: 35px;
    height: 20px;
    padding-top: 1px;

    text-align: center;
    vertical-align: middle;

    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #3981c4;
}

.oyuncu-sol-resim
{
    float: left;

    width: 38%;
    margin: 20px;

    border: 3px solid #fded00;
}

.detayli-oyuncu-bilgi-kismi-alt
{
    float: left;

    width: 94%;
    padding: 20px;
}

.saha-resim-ust
{
    width: 94%;
    margin: 20px;
}

.saha-detaylari-alt
{
    width: 94%;
    margin: 20px;
}

.saha-detaylari-alt-yan1
{
    font-weight: 600;

    float: left;

    width: 46%;
    margin-right: 20px;

    text-align: center;
}

.saha-detaylari-alt-yan1 hr
{
    margin-top: 7px;
}

.saha-detaylari-alt-yan1 ul
{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;

    text-align: left;
}

.saha-detaylari-alt-yan1 ol
{
    font-size: 16px;
    font-weight: normal;
    line-height: 29px;

    text-align: center;
}

.saha-detaylari-alt-yan1 ul li label
{
    font-weight: 600;
}

.baslik-yani-uzatici
{
    float: left;

    width: 5px;
    height: 25px;
    margin-right: 5px;

    background-color: #fded00;
}

.saha-linki
{
    font-size: 15px;

    float: left;

    width: 100%;
    margin-top: 20px;

    text-align: center;
}

.col-xs-12
{
    margin-top: 20px;

    text-align: center;
}

.haber-yazisi-anasayfadaki
{
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;

    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 14px;

    text-transform: uppercase;

    color: white;
    background-color: rgba(0, 135, 0, .6);
    text-shadow: 1px 1px 5px black;
}

.haber-yazisi-anasayfadaki-ust
{
    font-size: 20px;
    font-weight: normal;
    line-height: 15px;

    position: absolute;
    bottom: 48px;

    width: 100%;
    padding: 14px;

    text-transform: capitalize;

    color: white;
    background-color: rgba(0, 0, 0, .6);
    text-shadow: black 1px 1px 5px;
}

#formadanumaram
{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: bold;

    position: relative;

    float: left;

    width: 100px;
    padding: 3px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 31px;
    padding-left: 26px;

    text-align: center;
    letter-spacing: -2px;

    background-image: url('../images/formaresmi.png');
    background-repeat: no-repeat;
}

.yanindaformaresmi
{
    float: left;

    width: 240px;
}

.oyuncu-detay-yazi
{
    float: left;

    width: 52%;
    margin-top: 20px;
}

.oyuncu-detay-yazi ul
{
    display: inline-block;
}

.oyuncu-detay-yazi h1
{
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 25px;
}

.oyuncu-detay-yazi label
{
    font-weight: 600;

    float: left;

    margin-right: 10px;
}

.oyuncu-detay-yazi ul li
{
    line-height: 24px;
}



.oyuncu-detay-yazi b
{
    font-size: 19px;
}

.oyuncu-detay-yazi hr
{
    margin-top: 5px;
}

.oyuncu-detay-yazi ıl
{
    font-size: 14px;
}

.yerli-oyuncu
{
    font-size: 13px;
    font-weight: 700;

    width: 35px;
    height: 20px;
    padding-top: 1px;

    text-align: center;
    vertical-align: middle;

    color: #1d1d1d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fded00;
}

.statlar
{
    position: relative;

    float: left;

    width: 43%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.statresmi
{
    width: 100%;
}

.statismi
{
    font-size: 17px;
    font-weight: 700;

    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 8px;

    text-align: center;

    color: #1d1d1d;
    background-color: #fded00;
}

.statismi a
{
    color: #1d1d1d;
}

.haberler-sayfasi ul hr
{
    margin-top: 8px;
}

.sayfalama
{
    margin-top: 32px;

    text-align: center;
}

.takimlar2
{
    float: left;

    width: 50%;
    margin-top: 15px;

    text-align: center;
}

.takimismi
{
    margin-top: 10px;
}

.haber-sayfasi-tek-haber
{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 40px;
}

.haber-detayi-kapsa
{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 40px;
}

.haber-detay-resim
{
    width: 100%;
    margin-bottom: 20px;
}

.haber-detay-baslik
{
    font-size: 26px;

    margin-top: 20px;
    margin-bottom: 10px;
}

.haber-detay-baslik a
{
    text-transform: capitalize;
}

.haber-detay-yazi
{
    font-size: 15px;
    font-weight: 200;
    line-height: 150%;

    margin-bottom: 30px;
}

.haber-zamani
{
    font-size: 13px;

    margin-bottom: 30px;
}

.haber-zamani fa
{
    margin-right: 4px;
}

.haber-zamani bosluk
{
    margin-right: 10px;
}

.haber-detay-footer
{
    display: inline-block;

    width: 100%;
    margin-top: 20px;
    padding-bottom: 40px;
}

.haber-detay-footer-etiketi
{
    font-size: 14px;

    float: left;
}

.haber-detay-footer-etiketi b
{
    font-size: 15px;
    font-weight: 600;
}

.paylasmaseyleri
{
    float: right;
}

.news-home-single
{
    float: left;

    width: 194px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.haberin-resmi
{
    float: left;

    margin-right: 20px;
}

.devami-butonu
{
    font-size: 12px;

    float: right;

    padding: 4px;
}

.advertise-top
{
    width: 100%;
    height: 120px;
    margin: 20px 0;

    background-image: url('http://www.sportsvideo.org/ibc2014/wp-content/themes/ibc2014/images/sports-tech-ibc-banner-2014.png');
}

.advertise-bottom
{
    width: 100%;
    height: 120px;
    margin: 20px 0;

    background-image: url('http://www.learnarabic.com/assets/images/st-banner-learnarabic.png');
}

.navbar-header
{
    float: right;
}

a.navbar-brand
{
    color: #ddd !important;
}

.container-fluid,
.navbar-collapse
{
    padding-left: 0;
}

.navbar-nav > li > a:hover
{
    font-size: 100%;

    color: #1d1d1d !important;
    background-color: #fded00 !important;
}


#footersocialBarWrapper ul
{
    margin: 0 auto;
    padding: 0;

    list-style: none;

    text-align: right;
}

#footersocialBarWrapper ul li
{
    font-size: 22px;

    float: left;

    margin: 0;
}

#footersocialBarWrapper ul li a i
{
    margin-right: 0;
}

#footersocialBarWrapper ul li a
{
    font-size: 22px;
    line-height: 33px;

    display: block;

    width: 33px;
    padding: 5px;

    text-align: center;

    color: #fff;
}

#footersocialBarWrapper ul li a:hover
{
    text-decoration: none;

    color: #fff;
}

#footersocialBarWrapper ul li a em
{
    display: none;
}

.footer-sosyalmedya
{
    float: right;
}

.copyrightyazisi
{
    font-size: 14px;

    margin-top: 56px;
    margin-right: 47px;

    text-align: center;

    color: #454545;
}


::selection
{
    color: #1d1d1d;
    background: #fded00;
}

.saha-isim
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 30px;

    background: rgba(0,0,0,.2);
}

.son-maclar-ikon
{
    float: right;

    width: auto;
}

.son-maclar-ikon i
{
    margin-top: -5px;
    padding: 5px;

    color: #fded00;
    border-radius: 5px;
    background: black;
}

.son-maclar-ikon i:hover
{
    margin-top: -5px;
    padding: 4px;

    cursor: pointer;

    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background: #fded00;
}

.disabled
{
    display: none;
}

.solla
{
    margin-right: 46px;
}

.avrupa-maci
{
    font-size: 16px;
    font-weight: 600;

    width: 100%;
    padding: 10px 20px;

    color: white;
    background-color: navy;
}

.next-match
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 120px;
    margin: 20px 0;

    transition: all .2s;

    color: white;
    background: #454545;
}

.next-match:hover
{
    cursor: pointer;
    transition: all .2s;

    color: #fded00;
    background: #1d1d1d;
}

.next-match *
{
    position: absolute;

    display: inline-block;
}

.next-match-,title,
.countdown
{
    font-size: 22px;

    width: 100%;
    height: 23%;

    color: #1d1d1d;
    background-color: #fded00;
}

#clock
{
    width: 100%;

    text-align: center;
}

.next-match-home-team-logo
{
    width: 100%;
    height: 100%;

    background: url('../images/fenerlogo.png') no-repeat;
    background-position: -25px -40px;
}

.next-match-away-team-logo
{
    width: 100%;
    height: 100%;

    background: url('../images/fenerlogo.png') no-repeat;
    background-position: 800px -40px;
}

.next-match-away-team-name
{
    font-size: 36px;
    font-weight: 100;

    top: 40px;
    right: 190px;
}

.next-match-home-team-name
{
    font-size: 36px;
    font-weight: 100;

    top: 40px;
    left: 190px;
}

.next-match-detail2
{
    font-size: 12px;

    bottom: 12px;

    width: 100%;

    text-align: center;

    color: #fded00;
}

.next-match-detail
{
    font-size: 12px;

    bottom: 24px;

    width: 100%;

    text-align: center;

    color: #fded00;
}

.color-white
{
    color: white;
}
