@import url('reset.css');

body{
    background-color:#ddd;
    font-family: 'Open Sans', sans-serif;
}

.navbar-default {
    background-color: #1d1d1d !important;
    background-image: none;
    color:#fded00;
    margin-top: 25px;
    margin-bottom: 25px;
}
.navbar-default .navbar-nav>li>a {
    color:#fded00;
}


.anket-side {
    padding: 7px;
}

.anket-side form li {
    list-style-type: none !important;
    padding: 1px;
    font-size:14px;
    margin-left:40px;
}

.anket-title {
    margin-left: 20px;
    margin-bottom: 5px;
}

.anket-side form li input{
    margin-right: 7px;
}

.anket-side form p {
    text-align: center;
}

.anket-side form p input{
    width: 80px;
    background-color: #fded00;
    color: #1d1d1d;
    border: 0;
    margin: 8px;
    padding: 8px;
}

.anket-side form p input:hover{
    background-color: #1d1d1d;
    color: #fded00;
}

.header-logo {
    margin-top: -32px;
}

.footer1{
    width:100%;
    height:200px;
    background-color:#1d1d1d;
    margin-top:20px;
    padding: 20px;
}

.footer-linkler {
  float: left;
}

.footer-linkler ul li {
  padding: 2px 0px;
  line-height: 14px;
}

.footer-linkler h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.footer-linkler a {
  color: #454545;
  font-size: 12px;
  line-height: 14px;
}

.footer-linkler a:hover {
  color: #999;
  text-decoration: none;
}

.footer-linkler ul {
  padding: 0;
  list-style: none;
  font-size: 12px;
  margin-top: 10px;
}


.footer-sonuclar {
  float: left;
}

.footer-sonuclar ul li {
  padding: 2px 0px;
  line-height: 14px;
}

.footer-sonuclar h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.serbest-oyuncular-basligi {

    font-size: 21px;
    margin: 15px;
    font-weight: 500;

}

.col-xs-8, .ortala {

    float: none;
    margin-left: auto;
    margin-right: auto;
    display: table;

}

.oyuncu-linkleri-rengi {

    text-decoration: none;
    color: #1d1d1d;

}

.footer-sonuclar a {
  color: #454545;
  font-size: 12px;
  line-height: 14px;
}

.footer-sonuclar a:hover {
  color: #999;
  text-decoration: none;
}

.footer-sonuclar ul {
  padding: 0;
  list-style: none;
  font-size: 12px;
  margin-top: 10px;
}

.footer-logo {
    opacity: 0.2;
    float:left;
    margin-right: 20px;
}

.news-header {
    width:100%;
    padding:10px 20px;
    background-color:#ffed00;
    font-size:16px;
    color:#1d1d1b;
    font-weight: 600;
}

.row{
    width:976px;
    margin-left:auto;
    margin-right:auto;

}

.col-md-9{
    width:70%;
    padding-left:0px;
    padding-right:20px;
}

.col-md-3{
    padding-right:0px;
    padding-left:0px;
    width:30%;
    margin-bottom: -20px;
}

.maclar {
    height:231px;
    background-color:white;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.takimlar {
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.mac-detayi {
    width: 100%;
    height: 169px;
}

.mac-devami-git {
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  padding-top: 5px;
  font-weight: 600;
  height: 22px;
}

.mac-devami-git a {
    color:#1d1d1b;
    text-decoration: inherit;
}

.mac-devami-git:hover {
    background-color: #ffed00;
}

.haber-devami-git {
    border-top: 1px solid #ddd;
    bottom:0;
    font-size:12px;
    font-weight:600;
    height:22px;
    padding-top:4px;
    position:absolute;
    text-align:center;
    width:97%;
}

.haber-devami-git a {
    color:#1d1d1b;
    text-decoration: inherit;
}

.haber-devami-git:hover {
    background-color: #ffed00;
}

.news-inner-container {
    display: block;
    clear: both;
}

.anasayfa-haber-baslik {
    width: 100%;
    padding: 10px;
    font-weight: 400;
}

.skor {
    float:left;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
    width: 123px;
    margin-top: 20px;
}

.mac-bilgi {
    display: inline-table;
    text-align: center;
    width: 100%;
    font-size:13px;
    line-height: 18px;
}

.sol-logo{
    float:left;
    padding: 10px;
}

.sag-logo{
    float:right;
    padding: 10px;
}

.puantablosu{
    height:160px;
    margin:20px 0px;
    background-color:white;
}

.anket{
    height:149px;
    margin:20px 0px;
    background-color:white;
}

.anket{
    height:175px;
    margin:20px 0px;
    background-color:white;
}

.puantablosu table thead tr {
    background-color: #fefbd8;
    font-weight: 600;
}

.puantablosu2 table thead tr {
    background-color: #fefbd8;
    font-weight: 600;
}

.fa {
    margin-right: 10px;
}

.menu-home-icon {
  line-height: 20px;
  font-size: 20px;
  margin-right: -10px;
}


.puantablosu2{
    height:290px;
    margin:20px 0px;
    background-color:white;
}

.yapim-asamadindayeri {
    height:316px;
    margin-top: 20px;
    background-color:white;
}

.haber-text{
   font-weight: 100;
   padding: 0 10px;
   font-size: 14px

}


.news-home-container {
    width:100%;
    height:496px;
    margin-top:20px;
    background-color:white;
}

.haberler-sayfasi {
    width:100%;
    min-height:916px;
    background-color:white;
    display: inline-block;
    padding-bottom: 10px;
}

.takim-sayfasi {
    width:100%;
    height:580px;
    background-color:white;
}

.oyuncular-sayfasi {
    width:100%;
    height:916px;
    background-color:white;
}

.oyuncu-liste {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}

.oyuncu-adi-container {
    position: absolute;
    bottom: 0;
    width: 96%;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #1d1d1d;
    background-color: #fded00;

}

.oyuncu-adi-container a{
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 500;

}


.oyuncu-liste2 {
    float: left;
    width: 110px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.oyuncu-liste p {
    margin-top:20px;
}

.oyuncuresim {
    width: 105px;
    height: 120px;
}

.oyuncu-adi {
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.takim-detayi-sayfasi {
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.takim-detayi-sayfasi hr{
    margin-top: 6px;
}

.takim-detayi-sayfasi h1{
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.takim-detayi-sayfasi ul{
    text-align: left;
    line-height: 24px;
}

.takim-detayi-sayfasi ul li label{
    font-weight: 600;
    margin-right: 5px;
}

.oyuncu-adi ul {
    float:left;
}
.oyuncu-adi ul li {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.oyuncu-adi2 {
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.oyuncu-adi2 ul {
    float:left;
}
.oyuncu-adi2 ul li {
    margin-bottom: 10px;
    text-transform: uppercase;
}


.sakatlanmis-oyuncu {
    width: 35px;
    font-weight: 700;
    height: 20px;
    font-size: 13px;
    padding-top: 1px;
    vertical-align: middle;
    text-align: center;
    background-color: red;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.hafif-sakat {
    width: 35px;
    font-weight: 700;
    height: 20px;
    font-size: 13px;
    padding-top: 1px;
    vertical-align: middle;
    text-align: center;
    background-color: darkorange;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float:left;
    margin-right: 10px;
}

.oyuncu-tablosu {

}

.yabanci-oyuncu {
    width: 35px;
    font-weight: 700;
    height: 20px;
    padding-top: 1px;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
    background-color: #3981C4;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.oyuncu-sol-resim {
    margin:20px;
    width: 38%;
    float:left;
    border: 3px solid #fded00;
}

.detayli-oyuncu-bilgi-kismi-alt {
    width: 94%;
    float: left;
    padding: 20px;
}

.saha-resim-ust {
    width: 94%;
    margin: 20px;
}

.saha-detaylari-alt {
    width: 94%;
    margin: 20px;
}

.saha-detaylari-alt-yan1{
    width: 46%;
    float:left;
    margin-right: 20px;
    text-align: center;
    font-weight: 600;
}

.saha-detaylari-alt-yan1 hr{
    margin-top: 7px;
}

.saha-detaylari-alt-yan1 ul{
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.saha-detaylari-alt-yan1 ol{
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}

.saha-detaylari-alt-yan1 ul li label{
    font-weight: 600;
}

.baslik-yani-uzatici {
    width: 5px;
    background-color: #fded00;
    height: 25px;
    float:left;
    margin-right: 5px;
}

.saha-linki {
    text-align: center;
    font-size: 15px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.col-xs-12 {
    text-align: center;
    margin-top: 20px;
}

.haber-yazisi-anasayfadaki {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    bottom: 0;
    background-color:rgba(0, 135, 0, 0.6);
    padding: 14px;
    width: 100%;
    line-height: 20px;
    text-shadow: 1px 1px 5px black;
    text-transform: uppercase;
}

.haber-yazisi-anasayfadaki-ust {
    background-color:rgba(0, 0, 0, 0.6);
    bottom:48px;
    color:white;
    font-size:20px;
    font-weight:normal;
    line-height:15px;
    padding:14px;
    position:absolute;
    text-shadow:black 1px 1px 5px;
    width:100%;
    text-transform: capitalize;
}

#formadanumaram {
    background-image: url("../images/formaresmi.png");
    padding: 3px;
    position: relative;
    background-repeat: no-repeat;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 26px;
    padding-bottom: 31px;
    text-align: center;
    width: 100px;
    padding-top: 15px;
    padding-right: 30px;
    letter-spacing: -2px;
    float: left;
}

.yanindaformaresmi {
    float:left;
    width: 240px;
}

.oyuncu-detay-yazi {
    float:left;
    width: 52%;
    margin-top: 20px;
}

.oyuncu-detay-yazi ul {
    display: inline-block;
}

.oyuncu-detay-yazi h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.oyuncu-detay-yazi label{
    float:left;
    font-weight: 600;
    margin-right: 10px;
}

.oyuncu-detay-yazi ul li{
    line-height: 24px;
}



.oyuncu-detay-yazi b{
    font-size: 19px;
}

.oyuncu-detay-yazi hr{
    margin-top: 5px;
}

.oyuncu-detay-yazi ıl{
    font-size:14px;
}

.yerli-oyuncu {
    width: 35px;
    font-weight: 700;
    height: 20px;
    font-size: 13px;
    padding-top: 1px;
    vertical-align: middle;
    text-align: center;
    background-color: #fded00;
    color: #1d1d1d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.statlar {
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    float:left;
    width: 43%;
    position: relative;
}

.statresmi {
    width: 100%;
}

.statismi {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    background-color: #fded00;
    width: 100%;
    padding: 8px;
    color:#1d1d1d;
}

.statismi a{
    color:#1d1d1d;
}

.haberler-sayfasi ul hr {
    margin-top:8px;
}

.sayfalama {
    text-align: center;
    margin-top: 32px;
}

.takimlar2 {
    text-align: center;
    width: 50%;
    margin-top: 15px;
    float: left;
}

.takimismi {
    margin-top: 10px;
}

.haber-sayfasi-tek-haber{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 40px;
}

.haber-detayi-kapsa {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 40px;
}

.haber-detay-resim {
    margin-bottom: 20px;
    width: 100%;
}

.haber-detay-baslik {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.haber-detay-baslik a{
    text-transform: capitalize;
}

.haber-detay-yazi {
    font-weight: 200;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 30px;
}

.haber-zamani {
    margin-bottom: 30px;
    font-size: 13px;
}

.haber-zamani fa{
    margin-right: 4px;
}

.haber-zamani bosluk{
    margin-right: 10px;
}

.haber-detay-footer {
    display:inline-block;
    margin-top:20px;
    padding-bottom:40px;
    width:100%;
}

.haber-detay-footer-etiketi{
    float:left;
    font-size: 14px;
}

.haber-detay-footer-etiketi b {
    font-weight: 600;
    font-size: 15px;
}

.paylasmaseyleri{
    float:right;
}

.news-home-single {
    width:194px;
    height:200px;
    margin-top:20px;
    margin-left:20px;
    float:left;
}

.haberin-resmi {
    float: left;
    margin-right: 20px;
}

.devami-butonu{
    float: right;
    padding: 4px;
    font-size: 12px;
}

.advertise-top{
	width:100%;
	height:120px;
	margin:20px 0px;
	background-image: url("http://www.sportsvideo.org/ibc2014/wp-content/themes/ibc2014/images/sports-tech-ibc-banner-2014.png");

}

.advertise-bottom{
	width:100%;
	height:120px;
	margin:20px 0px;
	background-image: url("http://www.learnarabic.com/assets/images/st-banner-learnarabic.png");

}

.navbar-header {
    float:right;

}

a.navbar-brand {
    color:#ddd !important;
}

.container-fluid,.navbar-collapse{
    padding-left:0px;
}

.navbar-nav>li>a:hover {
    background-color:#fded00 !important;
    color:#1d1d1d !important;
    font-size: 100%;
}


#footersocialBarWrapper ul {text-align: right;list-style:none;margin:0 auto;padding:0;}

#footersocialBarWrapper ul li {float:left;font-size:22px;margin:0px;}

#footersocialBarWrapper ul li a i {margin-right: 0px;}

#footersocialBarWrapper ul li a {display:block;padding:5px;color:#fff;line-height: 33px;font-size:22px;width:33px;text-align:center;}

#footersocialBarWrapper ul li a:hover {text-decoration: none;color:#fff;}

#footersocialBarWrapper ul li a em {display:none;}

.footer-sosyalmedya {
    float:right;
}

.copyrightyazisi {
  text-align: center;
  font-size: 14px;
  margin-top: 56px;
  margin-right: 47px;
  color:#454545;
}
}


::selection {
    background: #fded00;
    color:#1d1d1d;
}
